<!DOCTYPE html>
<html>
<head>
  <title>Cgdesignbuild</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="//use.typekit.net/eoo1zfd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/header' %>
  <%= yield %>
  <%= render partial: 'layouts/footer' %>
</body>
</html>
